[submodule "raycaster/freeglut"]
	path = raycaster/freeglut
	url = git@github.com:freeglut/freeglut.git
[submodule "pong/external/glfw"]
	path = pong/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "pong/external/glm"]
	path = pong/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "pong/external/sdl3"]
	path = pong/external/sdl3
	url = https://github.com/libsdl-org/SDL.git
